.about-link, .port-link, .contact-link, .resume-link{
    opacity: 80%;
}

.about-link:hover, .port-link:hover, .contact-link:hover, .resume-link:hover{
    opacity: 100%;
}

/* .name-logo{
    font-size: 30px;
}

@media (max-width: 992px) {
    .name-logo{
        display: none;
    }
  } */